In [ ]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
import pandas as pd
import numpy as np
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
from sklearn import svm
from sklearn.utils.validation import column_or_1d
from sklearn.metrics import accuracy_score

In [ ]:
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
id_train_features = '1LnKdehYxXYXIUhxO1NFeu5GebmKpbYjY'
id_test_features = '1CIuprbEUeJDEdg0WO5Sq2-xV8OBElXLX'
id_train_labels = '1dzgH430IP8VV4Jw6InbfTiMEFUxZk1pO'
id_test_labels = '10dwdJ5EI_w-HfeM3F8CyctlqAnuW3RY9'

In [ ]:
def import_libs():
  import pandas as pd
  import numpy as np
  from pydrive.auth import GoogleAuth
  from pydrive.drive import GoogleDrive
  from google.colab import auth
  from oauth2client.client import GoogleCredentials
  from sklearn import svm
  from sklearn.utils.validation import column_or_1d
  from sklearn.metrics import accuracy_score  
  from sklearn.metrics import roc_auc_score

In [ ]:
def authenticate():
  auth.authenticate_user()
  gauth = GoogleAuth()
  gauth.credentials = GoogleCredentials.get_application_default()
  drive = GoogleDrive(gauth)

In [ ]:
def file_ids():
  id_train_features = '1LnKdehYxXYXIUhxO1NFeu5GebmKpbYjY'
  id_test_features = '1CIuprbEUeJDEdg0WO5Sq2-xV8OBElXLX'
  id_train_labels = '1dzgH430IP8VV4Jw6InbfTiMEFUxZk1pO'
  id_test_labels = '10dwdJ5EI_w-HfeM3F8CyctlqAnuW3RY9'
  return id_train_features,id_test_features,id_train_labels,id_test_labels

In [ ]:
def define_datasets():
  downloaded = drive.CreateFile({'id':id_train_features})   # replace the id with id of file you want to access
  downloaded.GetContentFile('train_features.csv')  
  # Dataset is now stored in a Pandas Dataframe
  train_X = pd.read_csv('train_features.csv',header=None)
  train_X.head()


  downloaded = drive.CreateFile({'id':id_test_features})   # replace the id with id of file you want to access
  downloaded.GetContentFile('test_features.csv')  
  # Dataset is now stored in a Pandas Dataframe
  test_X = pd.read_csv('test_features.csv',header=None)
  test_X.head()

  downloaded = drive.CreateFile({'id':id_train_labels})   # replace the id with id of file you want to access
  downloaded.GetContentFile('train_labels.csv')  
  # Dataset is now stored in a Pandas Dataframe
  train_Y = pd.read_csv('train_labels.csv',header=None)
  train_Y.head()

  downloaded = drive.CreateFile({'id':id_test_labels})   # replace the id with id of file you want to access
  downloaded.GetContentFile('test_labels.csv')  
  # Dataset is now stored in a Pandas Dataframe
  test_Y = pd.read_csv('test_labels.csv',header=None)
  test_Y.head()
  test_Y = test_Y[5]

  return train_X,test_X,train_Y,test_Y

In [ ]:
def final_ds():
  x = np.array(train_X)
  y = np.array(train_Y)
  y = column_or_1d(y, warn=True)
  x_t = np.array(test_X)
  y_t = np.array(test_Y)
  y_t = column_or_1d(y_t, warn=True)
  print('Shape of training dataset',x.shape)
  print('Shape of label tensor:', y.shape)
  print('Shape of test dataset',x_t.shape)
  print('Shape of test label tensor:', y_t.shape)

In [ ]:
def model_fit():
  clf = svm.SVC(probability=True)
  clf.fit(x, y)

  results = clf.predict(x_t)
  preds_train = clf.predict_proba(x)
  preds_test = clf.predict_proba(x_t) 
  accuracy_score(y_t, results)

  a = np.zeros(preds_test.shape[0])
  j = 0
  for i in preds_test:
    a[j] = i[1]
    j = j+1
  a.shape

  roc_auc_score(y_t, a)

In [ ]:
downloaded = drive.CreateFile({'id':id_train_features})   # replace the id with id of file you want to access
downloaded.GetContentFile('train_features.csv')  
# Dataset is now stored in a Pandas Dataframe
train_X = pd.read_csv('train_features.csv',header=None)
train_X.head()

      0      1      2      3      4   ...     36     37     38     39     40
0  0.087  0.106  0.059  0.170  0.084  ...  0.075  0.165  0.199  0.056  0.072
1  0.106  0.059  0.170  0.084  0.090  ...  0.165  0.199  0.056  0.072  0.228
2  0.059  0.170  0.084  0.090  0.052  ...  0.199  0.056  0.072  0.228  0.123
3  0.170  0.084  0.090  0.052  0.153  ...  0.056  0.072  0.228  0.123  0.019
4  0.084  0.090  0.052  0.153  0.159  ...  0.072  0.228  0.123  0.019  0.123

[5 rows x 41 columns]

In [ ]:
downloaded = drive.CreateFile({'id':id_test_features})   # replace the id with id of file you want to access
downloaded.GetContentFile('test_features.csv')  
# Dataset is now stored in a Pandas Dataframe
test_X = pd.read_csv('test_features.csv',header=None)
test_X.head()

    0    1    2    3    4    5   ...     35     36     37     38     39     40
0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.050  0.045  0.069  0.133  0.131  0.154
1  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.045  0.069  0.133  0.131  0.154  0.182
2  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.069  0.133  0.131  0.154  0.182  0.096
3  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.133  0.131  0.154  0.182  0.096  0.236
4  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.131  0.154  0.182  0.096  0.236  0.082

[5 rows x 41 columns]

In [ ]:
downloaded = drive.CreateFile({'id':id_train_labels})   # replace the id with id of file you want to access
downloaded.GetContentFile('train_labels.csv')  
# Dataset is now stored in a Pandas Dataframe
train_Y = pd.read_csv('train_labels.csv',header=None)
train_Y.head()

   0
0  1
1  1
2  1
3  1
4  1

In [ ]:
downloaded = drive.CreateFile({'id':id_test_labels})   # replace the id with id of file you want to access
downloaded.GetContentFile('test_labels.csv')  
# Dataset is now stored in a Pandas Dataframe
test_Y = pd.read_csv('test_labels.csv',header=None)
test_Y.head()
test_Y = test_Y[5]

In [ ]:
x = np.array(train_X)
y = np.array(train_Y)
y = column_or_1d(y, warn=True)
x_t = np.array(test_X)
y_t = np.array(test_Y)
y_t = column_or_1d(y_t, warn=True)
print('Shape of training dataset',x.shape)
print('Shape of label tensor:', y.shape)
print('Shape of test dataset',x_t.shape)
print('Shape of test label tensor:', y_t.shape)

Shape of training dataset (10452, 41)
Shape of label tensor: (10452,)
Shape of test dataset (258829, 41)
Shape of test label tensor: (258829,)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
clf = svm.SVC(probability=True,C=1000,gamma=0.0038)
clf.fit(x, y)

SVC(C=1000, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.0038, kernel='rbf',
    max_iter=-1, probability=True, random_state=None, shrinking=True, tol=0.001,
    verbose=False)

In [ ]:
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_curve, auc, roc_auc_score

In [ ]:
false_positive_rate, true_positive_rate, thresholds = roc_curve(y_t-1, clf.predict_proba(x_t)[:,1])
# may differ
print(auc(false_positive_rate, true_positive_rate))
print(roc_auc_score(y_t-1, clf.predict(x_t)))

0.7426328857223155
0.6847141655107567

In [ ]:
results = clf.predict(x_t)
accuracy_score(y_t, results)

0.6970741300240699

In [ ]:
preds_test = clf.predict_proba(x_t)
a = np.zeros(preds_test.shape[0])
j = 0
for i in preds_test:
  a[j] = i[1]
  j = j+1
a.shape

(258829,)

In [ ]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_t, a)

0.7426328857223155

In [ ]:
incorrects = np.nonzero(results != y_t)

In [ ]:
incorrect_labels = np.array(y_t)[incorrects] 
len(incorrect_labels)

96556

In [ ]:
incorrect_labels_ = pd.DataFrame(incorrect_labels)
incorrect_labels_.head()

   0
0  2
1  2
2  2
3  2
4  2

In [ ]:
incorrect_labels_[0].value_counts()

2    94517
1     2039
Name: 0, dtype: int64

In [ ]:
test_Y.value_counts()

2    253676
1      5153
Name: 5, dtype: int64

In [ ]:
len(incorrect_labels)

96556

In [ ]:
results_train = clf.predict(x)
accuracy_score(y, results_train)

0.6214121699196326

In [ ]:
incorrects_tr = np.nonzero(results_train != y)
incorrect_labels_tr = np.array(y)[incorrects_tr] 
len(incorrect_labels_tr)
incorrect_labels_tr_ = pd.DataFrame(incorrect_labels_tr)
incorrect_labels_tr_.head()

   0
0  1
1  1
2  1
3  1
4  1

In [ ]:
incorrect_labels_tr_[0].value_counts()

2    1415
1     849
Name: 0, dtype: int64